{% extends 'base.html.twig' %}

{% block title %}Catalogs!{% endblock %}

{% block bodystart %} <body ng-app="catalog"> {% endblock %}

{% block body %}

<div ng-controller="Main">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Catalogs</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#show"><i class="fa fa-home"></i> Catalogs</a></li>
                <li><a href="#create"><i class="fa fa-home"></i>Create new catalog</a></li>
            </ul>
        </div>
    </nav>

    <div ng-view></div>

</div>

{% endblock %}

{% block javascripts %}
    {# note:we are just extending javascript block here#}
    {{ parent() }}


    {# include js files, asset is g-r-e-a-t #}
    {% javascripts
        '@CatalogBundle/Resources/public/js/catalog/*'
        '@CatalogBundle/Resources/public/js/catalog/controller/*'
    %}
        <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock %}

{% block bodyend %}{% endblock %}