{% extends 'base.html.twig' %}

{% block title %} {{ catalog.name }} {% endblock %}

{% block body %}
    <h3>{{ catalog.name }}</h3>

    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">fdsfds</div>
      <div role="tabpanel" class="tab-pane" id="profile">fds</div>
      <div role="tabpanel" class="tab-pane" id="messages">fdfsd</div>
      <div role="tabpanel" class="tab-pane" id="settings">AAAA</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}