<a href="#eprocurement">Eprocurement</a>

<div class="loading-spiner-holder" data-loading >Loading....</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Number of articles</th>
        <th>Created</th>
    </tr>
    </thead>

    <tbody ng-repeat="catalog in catalogs">
    <tr>
        <td><a href="#eprocurement/catalog/{$ catalog.id $}/{$ catalog.urlName $}"><i class="fa fa-shield"></i>{$ catalog.name $}</a></td>
        <td>{$ catalog.name $}</td>
        <td>{$ catalog.dtCreated.timestamp * 1000 | date:'yyyy-MM-dd' $}</td>
    </tr>
    </tbody>
</table>