<div data-loading url_of_loading="catalogs" style="width:100%; height: 5px; background-color: #D23F3F"></div>
<a href="#eprocurement">Eprocurement</a>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Number of articles</th>
        <th>Created</th>
    </tr>
    </thead>

    <tbody ng-repeat="catalog in catalogs">
    <tr>
        <td><a href="#eprocurement/catalog/{$ catalog.id $}/createUrlNameGenerator"><i class="fa fa-shield"></i>{$ catalog.name $}</a></td>
        <td>{$ catalog.name $}</td>

        <!-- fix serializer -->
        <!-- <td>{$ catalog.dt_created.timestamp * 1000 | date:'yyyy-MM-dd' $}</td> -->
        <td>{$ catalog.dt_created.date $}</td>
    </tr>
    </tbody>
</table>

<div data-catalog-tree remote="true" structure="loadCatalogStructure(0)">Jebeni tree</div>