{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

    <div id="wrapper">

        <div class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#eprocurement"><i class="fa fa-home"></i>Eprocurement</a></li>
                <li><a href="#esourcing"><i class="fa fa-home"></i>Esourcing</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-2 navbar navbar-default">
                {# tree view #}

            </div>
            <div class="col-md-10">
                <div ng-view></div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {# note:we are just extending javascript block here#}
    {{ parent() }}


    {# include js files, asset is g-r-e-a-t #}
    {% javascripts
        '@CoreBundle/Resources/public/js/bootstrap.js'
        '@CoreBundle/Resources/public/js/index.js'
        '@EprocurementBundle/Resources/public/js/eprocurement.js'
        '@EsourcingBundle/Resources/public/js/esourcing.js'

        '@CoreBundle/Resources/public/js/*'
        '@CoreBundle/Resources/public/js/controller/*'
        '@CoreBundle/Resources/public/js/service/*'
        '@CoreBundle/Resources/public/js/directive/*'

        '@EprocurementBundle/Resources/public/js/*'
        '@EprocurementBundle/Resources/public/js/controller/*'
        '@EprocurementBundle/Resources/public/js/directive/*'

        '@EsourcingBundle/Resources/public/js/*'
        '@EsourcingBundle/Resources/public/js/controller/*'

    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}