<style>
    .nav-list{padding-right:15px;padding-left:15px;margin-bottom:0;}
    .nav-list-main{padding-left:0px;padding-right:0px;margin-bottom:0;}
    span.nav-toggle-icon{font-size:7px !important;top:-2px !important;color:#888 !important;}
</style>

<div class="container">
    <div class="col-md-12"><h2>Bootstrap 3 Left Multilevel Menu (Treeview)</h2></div>
    <div class="col-md-3">
        <ul class="nav nav-list-main" ng-repeat="(key, node) in structure" >
            <li>
                <label class="nav-toggle nav-header">
                    <span id="tree_node_{$ node.node_id $}" ng-click="setSelectedNode(node)">{$ node.catalog.name $}</span>
                </label>
                <ul class="nav nav-list nav-left-ml" ng-repeat="childNode in node.child_nodes">
                    <li>
                        <label class="nav-toggle">
                            <span id="tree_node_{$ childNode.node_id $}" ng-click="setSelectedNode(childNode)">{$ childNode.catalog.name $}</span>
                        </label>
                        <ul class="nav nav-list nav-left-ml" style="display: none;">
                        <!--
                            remote stuff, looks like this when added
                            <li>
                                <label class="nav-toggle">
                                    <span id="tree_node_{$ childNode.node_id $}" ng-click="setSelectedNode(childNode)">{$ childNode.catalog.name $}</span>
                                </label>
                            </li>
                         -->
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
